################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x86_IRVINE/.vs/x86_IRVINE/v16
